<!DOCTYPE html>
<html lang="fr">
    <head></head>
<body>
    <!-- Navbar Component -->
<app-menu></app-menu>
    <!-- Image section -->
    <section id="image-section" class="image-section">
        <img src="assets/tiptopwhite 1.png" class="img-fluid logo-background">


        <div class="text-below-logo">
            <h1>Statistiques</h1>
           
            <h3>Nombre de tickets gagnés {{numberWon}}</h3>

            <h3>Nombre de tickets restants à gagnés {{numberLeftToWin}}</h3>
        </div>
        <div class="text-below-logo">
            <h1>Savourer Chaque Instant, Tasse après Tasse.</h1>
            <p>Plongez dans l'expérience Tiptop et laissez-vous emporter par une symphonie de saveurs exquises et de
                moments inoubliables.</p>
            <p> Découvrez le thé comme jamais auparavant.</p>
            <a href="#last-section" class="btn-primary">Participez a notre jeu concours</a>
        </div>
    </section>
  

</body>


</html>